{% extends 'base.html' %}

{% block title %}
  {{ league.name }}
{% endblock %}

{% block content %}
  <div class="container mt-5">
    <div class="row">
      <div class="col">
        <a href="{% url 'league_list' %}">&lt; Back to Leagues</a>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col">
        <h1>{{ league.name }}</h1>
      </div>
      {% if user.pk == league.user.pk %}
        <div class="col-auto">
          <a href="{% url 'league_edit' league.pk %}" class="btn btn-secondary">Edit</a>
        </div>
      {% endif %}
    </div>
    <div class="row">
      <div class="col">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a href="{{ league.get_absolute_url }}" class="nav-link {% if request.resolver_match.view_name == 'league_detail' %}active{% endif %}">Leaderboard</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'league_detail_rounds' league.pk %}" class="nav-link {% if request.resolver_match.view_name == 'league_detail_rounds' %}active{% endif %}">Rounds</a>
          </li>
          {% if user.pk == league.user.pk %}
            <li class="nav-item">
              <a href="{% url 'league_detail_players' league.pk %}" class="nav-link {% if request.resolver_match.view_name == 'league_detail_players' %}active{% endif %}">Players</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        {% block tab %}

        {% endblock %}
      </div>
    </div>
  </div>
{% endblock %}
