{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
  Create Player
{% endblock %}

{% block content %}
  <div class="container">
    <div class="card mt-5 mx-auto" style="max-width:450px;">
      <div class="card-header">
        <h1 class="">Create Player</h1>
      </div>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <button type="submit" class="btn btn-primary d-block ms-auto">Create Player</button>
        </form>
      </div>
      <div class="card-footer">
        <p class="m-0">
          <a href="{% url 'league_detail_players' league.pk %}">Back to League</a>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
